body {
  overflow-x: hidden;
}

.App {
  font-family: "Muli","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  
}

.new-letter-container {
  display: flex;
  flex-direction: column;
}

.logo {
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 16px;
}

header {
  background-image: linear-gradient(47deg,#8c3cee 0%,#2f85f6 60%,#2daef7 100%);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 90px 0;
  
}

.query-section {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: 80%;
}

.query-section button {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .04rem;
  border-color: transparent;
  color: #1c1c1c;
  font-size: 1rem;
  box-sizing: content-box;
  vertical-align: middle;
  font-weight: 400;
  padding: 1em 1.85em;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: all .25s ease-out;
  line-height: 1;
  text-align: center;
}


input[name="letter"] {
  color: rgb(29, 29, 29);
  font-weight: 900;
  font-size: 40px;
  padding: 20px 40px;
  width: 40px;
  border-radius: 10px;
  margin: 30px;
  text-align: center;
  border: 0;
  box-shadow: 0 0 18px 0 #0000006c;
}

.data-section {
  width: 80%;
  margin: auto center;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  font-family: "Gilroy","Muli","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  flex-wrap: wrap;
}

.data-box h3 {
  color: rgb(182, 182, 182);
  margin-bottom: 50px;
}

.data-section h2 {
  margin: 50px 20px;
  color: rgb(117, 117, 117);
  font-family: "Gilroy","Muli","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.data-section p {
  color: rgb(117, 117, 117);
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.data-section span {
  font-weight: 900;
  letter-spacing: normal;
  font-size: 20px;
  margin-right: 20px;
  color: black;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
}

.data-box {
  width: 400px;
  max-width: 100%;
  border: 1px solid #d8d8d8;
  box-shadow: 1px 2px 8px 0 #d8d8d8;
  border-radius: 5px;
  justify-self: flex-start;
  overflow: hidden;
  margin: 20px;
}

.data-box-header {
  color: white;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-box-header.one {
  background-image: linear-gradient(-47deg,#ffb74d 0%,#ff6f03 100%);
}
.data-box-header.two {
  background-image: linear-gradient(47deg,#3c2ff6 0%,#801fff 100%);
}
.data-box-header.three {
  background-image: linear-gradient(-47deg,#2eaef7 0%,#1f5fb3 100%);
}

.icon {
  height: 60%;
}

.data-box-content {
  padding: 15px 30px;
  color: rgb(117, 117, 117);
  padding-top: 25px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 400px;
}

.left h4 {
  font-size: 60px;
  margin-bottom: 0;
}

.left p {
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-rendering: optimizeLegibility;
}

.right .img {
  max-width: 511px;
}

nav {
  width: 80%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-content: center;
}

nav ul {
  font-size: 1rem;
  width: 30%;
  max-width: 400px;
  display: flex;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  justify-content: space-around;
  align-content: center;

}
nav ul li {
  cursor: pointer;
  margin: 0 10px;
}

footer {
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255,255,255,0.2);
  background: linear-gradient(38deg,#0b0b0b 0%,#1c1c1c 20%,#333 100%);
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  opacity: 0.5;
}
footer div img {
  height: 20px;
  margin: 30px 20px;
}

footer p {
  margin: 30px 20px;
}